{% extends "base.html" %}

{% block page_title %}
    Update Room
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<!-- Done by YoonCheol -->
    <div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% for field in form %}
            <div>
                {{field.label}}
                {{field}}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span>{{error}}</span> 
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        
            <button class="text-white rounded-3xl  border-2 py-1 px-4 border-opacity-50 border-red-700 bg-red-300 hover:bg-red-500 ">{{cta}}Submit</button>
            <div>
                <a href="{% url 'posts:photos' post.pk %}">Update Photos</a>
            </div>
        </form> 

    </div>
{% endblock content %} 
