{% extends "base.html" %}

{% block page_title %}
Create Room
{% endblock page_title %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{%  static  'post_create.css'  %}">
<script>
  function initMap() {
    // The location of Uluru
    const uluru = { lat: 36.3721, lng: 127.3604 };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: {lat: 35.1631, lng: 129.1636}
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
  initMap();

</script>
<div class="container">
  <div class="additionalinfo">
    <div class="files">
      There's no file now
      <div class="btn_addfile"><i class="fa fa-upload" aria-hidden="true"></i></div>
    </div>
    <div id="map"></div>
  </div>
  <div class="login-box">

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <span class="text-red-700 font-medium text-sm">{{error}}</span>
      {% endfor %}
      {% endif %}


      {% for field in form %}

      <div class="{% if field.errors %}has_error{% endif %}">
        <div class="user-box">
          {{field.label}}
          {{field}}
        </div>
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="text-red-700 font-medium text-sm">{{error}}</span>
        {% endfor %}
        {% endif %}
      </div>
      {% endfor %}

      <button>Upload</button>
    </form>

  </div>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZliH4l5UHcPVzOzhhJaYBwtpIRFo5IAY&callback=initMap&libraries=&v=weekly"
  async></script>
{% endblock content %}