{% extends "base.html" %}

{% block page_title %}
    Update Post
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<br>
<img src="{{post.get_photos}}" class="lg:w-1/2" vspace="30" hspace="20">
    <div class="bg-gray-200 container lg:w-1/2 md:w-1/2 xl:w-1/3 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        <form method="POST" class="w-full" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% for field in form %}
            <div>
                <div class="lg:w-1/3 text-white rounded-3xl  border-2 py-1 px-4 border-opacity-50 border-red-500 bg-red-300 ">{{field.label}}</div>
                <div class="border-2">{{field}}</div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span>{{error}}</span> 
                    {% endfor %}
                {% endif %}
            </div> 
            {% endfor %}
            <button class="text-black rounded-3xl  border-2 py-1 px-4 border-opacity-50 border-red-500 bg-white hover:bg-red-300" >
                {{cta}}Submit
            </button>            
            <button class="text-black rounded-3xl  border-2 py-1 px-4 border-opacity-50 border-red-500 bg-white hover:bg-red-300">
                <a href="{% url 'posts:photos' post.pk %}" class="text-teal-500 font-medium">Edit Photos</a>
            </button>
        </form> 

    </div>
{% endblock content %} 