{% extends "base.html" %}

{% block page_title %}
    Update Room
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<br>
<img src="{{post.get_photos}}" class="lg:w-1/2">
    <div>

        <form method="POST" class="w-full" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% for field in form %}
            <div>
                <div>{{field.label}}</div>
                <div>{{field}}</div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span>{{error}}</span> 
                    {% endfor %}
                {% endif %}
            </div> 
            {% endfor %}
            <button>
                {{cta}}Submit
            </button>            
            <div>
                <a href=" 'posts:photos' post.pk %}" class="text-teal-500 font-medium">Edit Photos</a>
            </div>
        </form> 

    </div>
{% endblock content %} 