{% extends "base.html" %}

{% block page_title %}
{{post.title}}
{% endblock page_title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{%  static  'post_detail.css'  %}">

<script>
  function initMap() {
    // The location of Uluru
    const uluru = { lat: parseFloat('{{post.latitude}}'), lng: parseFloat('{{post.longitude}}') };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: uluru,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
  initMap();
</script>
<div class="flex align-center mx-auto justify-center w-full imagecontainer">
  <img src="{{post.file.url}}" class="w-3/5 object-contain" />
</div>
<div class="contents_info">
  <div class="contents_container">
    <div class="author_info">
      <div class="author_pic"></div>
      <div class="author_nickname">
        <div class="author_name">Anold</div>
        <div class="author_id">@bright_sunsine</div>
      </div>
    </div>
    <div class="content_title">{{post.title}}</div>
    <div class="horizontal_line"></div>
    <div class="content_contents">{{post.contents}}</div>

    <div class="content_taken">{{post.created}}</div>
    <div class="content_camera"><i class="fa fa-camera-retro" aria-hidden="true"></i> {{post.camera}}</div>
    <div class="content_loca"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{post.location_info}}</div>
    <div class="content_country"><i class="fa fa-globe" aria-hidden="true"></i> South Korea</div>
    <div class="buttons">
        <a href="{% url 'posts:edit' post.pk %}"><button class="editbtn">Edit</button></a>
        <a href="{% url 'posts:delete' post.pk %}"><button class="deletebtn">Delete</button></a>
        <div style="float:right; ">
          {% if post.love %}
          <a href="{% url 'posts:delete-fav' post.pk %}">
            {% include "partials/addfavbtn.html" %}
          </a>
          {% else %}
          <a href="{% url 'posts:add-fav' post.pk %}">
            {% include "partials/delfavbtn.html" %}
          </a>
          {% endif %}
        </div>
    </div>
  </div>
  <div id="map"></div>
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZliH4l5UHcPVzOzhhJaYBwtpIRFo5IAY&callback=initMap&libraries=&v=weekly"
  async></script>
{% endblock %}