{% extends "base.html" %}

{% block page_title %}
    {{post.title}}
{% endblock page_title %}

{% block content %}
<!-- Done by Xiangchi -->
<span class="font-sans leading-9 ">
    <br>
<img src="{{post.get_photos}}" class="lg:w-1/2">
<div>
<span>Title</span>
<div>{{post.title}}</div><br>
<span>Author</span>
<div>{{post.writter}}</div><br>
<span>Contents</span>
<div>{{post.contents}}</div><br>
<span>Camera</span>
<div>{{post.camera}}</div> 
</span>

<br><br>
<div><a href="{% url 'posts:edit' post.pk %} ">
<button>
    Edit Post
</button></a>
</div>
</div>
</div>


{% endblock %}
