{% extends "base.html" %}
{% block page_title %}
    Search
{% endblock page_title %}

{% block content %}

    <br/>
    
    <div class="mx-auto container">
        {% if results %}
            <div class="w-full text-center">Results for <b>{{ request.GET.q }}</b></div>
            <br/><br/>
            <div class="w-full flex flex-wrap justify-center">
            
            {% for post in results %}
                {% include 'partials/post_card.html' with post=post %}
            {% endfor %}
            </div>
        {% else %}
        No search results for this
        {% endif %}
    </div>



{% endblock content %} 